/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 8, 2014, 10:23:01 PM
    Author     : Kyle
*/

#tabs { 
    border-bottom: .5em solid #03c; 
    margin: 0; padding: 0; 
} 
#tabs li {  
    display:inline; 
    border-top: .1em solid #03c; 
    border-left: .1em solid #03c; 
    border-right: .1em solid #03c; 
} 
#tabs li a {
    text-decoration: none; 
    padding: 0.25em 1em; 
    color: #000; 
}
#page1 #tabs li#tab1 a, #page2 #tabs li#tab2 a, #page3 #tabs li#tab3 a, .page4 #tab4 a{ 
    padding: 0.25em 1em; 
    background-color: #03c; 
    color: #fff; 
}